@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sail&display=swap");
/* 
font-family: 'Bebas Neue', cursive;
font-family: "Sail", system-ui;
font-family: 'Poppins', sans-serif;
*/

body {
  /* overflow-x: hidden; */
  position: relative;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "Poppins", sans-serif;
}

.layout {
  padding: 4% 7%;
  position: relative;
  background-image: url(../../../assets/img/theme/theme6/bg1.png);
  background-position: center;
  background-size: cover;
}

/* icon */
.icon_goal {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_goal.png);
  background-size: cover;
}
.icon_todo {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_todo.png);
  background-size: cover;
}
.icon_home {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_home.png);
  background-size: cover;
}
.icon_ct {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_ct.png);
  background-size: cover;
}
.icon_img {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_img.png);
  background-size: cover;
}
.icon_office {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_office.png);
  background-size: cover;
}
.icon_kehadiran {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_kehadiran.png);
  background-size: cover;
}
.icon_acara {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme2/icon_acara.png);
  background-size: cover;
}

/* navbar */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
nav ul {
  display: flex;
  width: max-content;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid black;
}
nav ul li {
  list-style: none;
  margin-right: 30px;
}
nav ul li a {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
nav ul li.active i.icon_acara,
nav ul li a:hover i.icon_acara {
  background-image: url(../../../assets/img/theme/theme2/icon_acara_w.png);
}
nav ul li.active i.icon_ct,
nav ul li a:hover i.icon_ct {
  background-image: url(../../../assets/img/theme/theme2/icon_ct_w.png);
}
nav ul li.active i.icon_home,
nav ul li a:hover i.icon_home {
  background-image: url(../../../assets/img/theme/theme2/icon_home_w.png);
}
nav ul li.active i.icon_img,
nav ul li a:hover i.icon_img {
  background-image: url(../../../assets/img/theme/theme2/icon_img_w.png);
}
nav ul li.active i.icon_kehadiran,
nav ul li a:hover i.icon_kehadiran {
  background-image: url(../../../assets/img/theme/theme2/icon_kehadiran_w.png);
}
nav ul li.active i.icon_goal,
nav ul li a:hover i.icon_goal {
  background-image: url(../../../assets/img/theme/theme2/icon_goal_w.png);
}
nav ul li.active i.icon_office,
nav ul li a:hover i.icon_office {
  background-image: url(../../../assets/img/theme/theme2/icon_office_w.png);
}
nav ul li.active i.icon_todo,
nav ul li a:hover i.icon_todo {
  background-image: url(../../../assets/img/theme/theme2/icon_todo_w.png);
}
nav ul li.active,
nav ul li a.active,
nav ul li a:hover {
  border-radius: 5px;
  background-color: #544553;
}

#mainNav.show {
  opacity: 1;
  visibility: visible;
}

/* cover */

.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  z-index: 999999;
}

.cover .cover-container {
  width: 100vw;
  height: 100vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease 0.3s;
}

.cover .cover-container .cover-content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  backdrop-filter: blur(4px);
  height: 100vh;
  position: relative;
}

.cover .cover-container .cover-content .box {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px rgba(168, 93, 247, 0.25);
  backdrop-filter: blur(4px);
  padding: 5% 10%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .cover-container .cover-content .box h1 {
  font-family: "Sail", system-ui;
  font-size: 50px;
}
.cover .cover-container .cover-content .box h3 {
  margin: 10px 0px;
  font: 30px;
}
.cover .cover-container .cover-content .box .head {
  background-image: url(../../../assets/img/theme/theme6/box-title.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 75px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #fff;
  margin: 10px 0px;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.cover .cover-container.hide {
  transform: scale(0);
  transform: translateX(-10%);
}
.btn_open {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 10px 0px;
  color: #000;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  border: 2px solid black;
}
.icon_open {
  background-image: url(../../../assets/img/theme/theme6/open.png);
  width: 30px;
  height: 25px;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}
.btn_open:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #000;
}

/* Header */
header .wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  backdrop-filter: blur(4px);
  height: 100vh;
  /* position: relative; */
}
header .wrapper .box {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px rgba(168, 93, 247, 0.25);
  backdrop-filter: blur(4px);
  padding: 5% 10%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


header .wrapper h1 {
  font-family: "Sail", system-ui;
  font-size: 50px;
}
header .wrapper h3 {
  margin: 10px 0px;
  font: 30px;
}
header .wrapper .head {
  background-image: url(../../../assets/img/theme/theme6/box-title.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 75px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #fff;
  margin: 10px 0px;
}

/* Visi Misi */
.vm{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.vm .title{
  color: #fff;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  margin: 40px 0px 0px 20px;
}
.vm img{
  position: absolute;
  right: 20px;
  top: 40px;
}
.vm .box-visi{
  background-image: url(../../../assets/img/theme/theme6/visi.png);
  width: 300px;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.vm .box2-visi{
  background-color: #354859;
  width: 300px;
  height: 370px;
  position: absolute;
  bottom: 0;
  border-radius: 60px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.box-misi{
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #61D359;
  border-radius: 60px;
}
.box2-misi{
  background-color: #354859;
  width: 500px;
  height: 370px;
  position: absolute;
  bottom: 0;
  border-radius: 60px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
}
.box2-misi ul li{
  list-style:decimal;
}

/* ACARA */
.acara{
  height: 100vh;
  display: flex;
  gap: 20px;
}
.acara .img{
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.acara .img .tgl{
  background-color: #fff;
  height: max-content;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.acara .img .tgl h1{
  font-size: 30px;
}
.acara .img .tgl h3{
  line-height: 20px;
}
.acara .text{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.acara ul{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  
}
.acara ul li{
  display: flex;
  text-align: left;
  margin-bottom: 40px;
}
.acara ul li .jam{
  width: 30%;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;

}
.acara ul li p{
  width: 60%;
  padding: 0px 20px;
}


/* Galery */
.galery{
  height: 100vh;
  padding-bottom: 50px;
}
.galery .heading{
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 85vh;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* Perjalanan Sejarah */
.sejarah{
  display: flex;
  flex-direction: column;
}
.sejarah .box{
  margin: 20px 0px;
  background-color:#354859;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  color: #fff;
  font-size: 20px;
  text-align: justify;
}
.sejarah .box p{
  margin: 20px 0px;
}

/* MAPS */
.loc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loc .wrapper{
  display: flex;
  width: 60vw;
  height: 800px;
  gap: 40px;
  margin-top: 50px;
}
.loc .wrapper .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 40%;
  
}
.loc .wrapper .box .jalan{
  background-color: #354859;
  border-radius: 20px;
  color: #fff;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.loc .wrapper .box iframe{
  height: 80%;
  border-radius: 20px;
}

.loc .wrapper .box-img{
 width: 40%;
 background-size: cover;
 border-radius: 40px;
}


/* buku tamu */
.tamu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tamu form {
  display: flex;
  flex-direction: column;
  width: max-content;
  background:#354859;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px rgba(168, 93, 247, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 30px;
  color: #fff;
  margin-top: 40px;
}
.tamu form .form-style {
  width: 800px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 0px;
  margin: 10px 0px;
  font-size: 18px;
}
.tamu form .btn_send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
  background-color: #fff;
  color: #354859;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.icon_send {
  width: 25px;
  height: 25px;
  background-image: url(../../../assets/img/theme/theme2/icon_send.png);
  background-size: cover;
  margin-right: 5px;
}
.btn_send:hover {
  cursor: pointer;
}

/* tamu */
.tamu .boxContainer {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px rgba(168, 93, 247, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 50px;
  margin: 20px 100px;
  max-height: 800px;
  overflow-y: auto;
}
.tamu .box hr{
  border: 1px solid #fff;
}
.tamu .box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.tamu .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 20px;
}
.tamu .box .text {
  width: 80%;
}
.tamu .box .text .name {
  font-weight: bold;
}
.tamu .box .text .time {
  font-size: 14px;
}
.btn_send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
  color: #fff;
  font-size: 18px;
  background-color: #544553;
}
.icon_send {
  width: 25px;
  height: 25px;
  background-image: url(../../../assets/img/theme/theme2/icon_send.png);
  background-size: cover;
  margin-right: 5px;
}
.icon_ig {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme6/ig.png);
  background-size: cover;
  margin-right: 5px;
}
.icon_web {
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/img/theme/theme6/web.png);
  background-size: cover;
  margin-right: 5px;
}
.btn_send:hover {
  cursor: pointer;
}

.tamu .info{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tamu .info .ig{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.tamu span{
  font-size: 30px;
}
.tamu .info a{
  text-decoration: none;
  color: #000;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}
.tamu .info a:hover{
  text-decoration: underline;
}
.tamu .info .web{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

}



/* Countdown */
.ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.ct .boxContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-content: center;
  padding: 40px 80px;
  gap: 20px;
}
.ct .boxContainer .box {
  width: 150px;
  height: 150px;
  background: #354859;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px rgba(168, 93, 247, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.ct .boxContainer .box h3 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  line-height: 50px;
}
.ct .ct-stop {
  text-align: center;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0px;
  background-color: #354859;
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


.heading{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.heading h1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px;
  box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25), 15px 10px 4px 0px rgba(0, 0, 0, 0.25) inset;
padding: 5px 50px;
font-family: "Bebas Neue", cursive;
font-size: 30px;
width: max-content;
text-align: center;
background-color: #fff;
}

/* Play and pause*/
#button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 6px 5px 3px #544553;
  /* border-radius: 50%; */
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #fff;
  border-radius: 20px;
  transition: 1s all;
  padding: 10px;
}
#button img {
  width: 100%;
}
#button .text {
  transition: 1s all;
  margin-right: 20px;
  display: none;
}

#button:hover .text {
  display: block;
}
#button:hover {
  cursor: pointer;
  background-color: #544553;
  color: #fff;
}
#button:active {
  background-color: #544553;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
#button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 6px 5px 3px #544553;
  /* border-radius: 50%; */
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #fff;
  border-radius: 20px;
  transition: 1s all;
  padding: 10px;
}
#button2 img {
  width: 100%;
}
#button2 .text {
  transition: 1s all;
  margin-right: 20px;
  display: none;
}

#button2:hover .text {
  display: block;
}
#button2:hover {
  cursor: pointer;
  background-color: #544553;
  color: #fff;
}
#button2:active {
  background-color: #544553;
}
#button2.show {
  opacity: 1;
  visibility: visible;
}


/* ukuran mobile */
@media only screen and (min-width: 320px) and (max-width: 576px) {
  html {
    overflow-x: hidden;
  }
  body{
    overflow-x: hidden;
  }
  nav {
    left: 0;
    right: 0;
  }
  nav ul {
    width: 100%;
    
  }
  h1 .and {
    line-height: 80px;
  }
  header {
    text-align: center;
  }
  header .background {
    background-position: center;
  }
  header .wrapper h1 {
    font-size: 25px;
  }
  header .wrapper h4 {
    font-size: 15px;
  }
  header .wrapper h3 {
    font-size: 20px;
  }
  header .wrapper h2 {
    font-size: 20px;
  }
  header .wrapper .head {
    font-size: 30px;
    padding: 5px 40px;
    border-radius: 20px;
  }
  header .wrapper .box {
    padding: 2% 5%;
    width: 90vw;
  }
  .cover .cover-container .cover-content .box h1 {
    font-size: 25px;
  }
  .cover .cover-container .cover-content .box h4 {
    font-size: 15px;
  }
  .cover .cover-container .cover-content .box h3 {
    font-size: 20px;
  }
  .cover .cover-container .cover-content .box h2 {
    font-size: 20px;
  }
  .cover .cover-container .cover-content .box .head {
    font-size: 30px;
    padding: 5px 40px;
    border-radius: 20px;
  }
  .cover .cover-container .cover-content .box {
    padding: 2% 5%;
    width: 90vw;
  }

  .vm{
    flex-direction: column;
    padding: 40px 0px;
  }
  .vm .box-visi{
    width: 250px;
    height: 400px;
  }
  .vm .box2-visi{
    width: 250px;
    height: 300px;
    font-size: 15px;
    padding: 30px;
    border-radius: 50px;
  }
  .box-misi{
    width: 350px;
  }
  .box2-misi{
    width: 350px;
    font-size: 15px;
    padding-top: 20px;
  }

  .iframe {
    width: 100vw;
    padding: 40px;
    border-radius: 20px;
  }
  .story .box {
    width: 90vw;
    height: max-content;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  .story .box .text {
    max-width: 100%;
    margin-top: 20px;
  }
  .story .box .image {
    width: 100%;
    justify-content: center;
  }
  .story .box p {
    overflow-y: auto;
    max-height: 300px;
  }
  .story .list {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .story .item {
    font-size: 14px;
    text-align: center;
    padding: 2px 5px;
  }
  .quete p {
    width: 90vw;
    padding: 20px;
  }
  .tamu form {
    width: 90vw;
  }
  .tamu form .form-style {
    width: 100%;
  }
  .tamu .boxContainer {
    width: 90vw;
    margin: 20px;
    padding: 20px;
  }
  nav ul {
    width: 90vw;
    padding: 10px;
    justify-content: center;
  }
  nav ul li {
    margin-right: 5px;
  }
  nav ul li a {
    padding: 5px;
  }
  .icon_office {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_home {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_ct {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_img {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_story {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_kehadiran {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_acara {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_goal {
    width: 1.2em;
    height: 1.2em;
  }
  .icon_todo {
    width: 1.2em;
    height: 1.2em;
  }
  #button {
    width: 40px;
    height: 40px;
    bottom: 70px;
    right: 20px;
  }
  #button2 {
    width: 40px;
    height: 40px;
    bottom: 120px;
    right: 20px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 30px;
  }
  .heading h1 {
    font-size: 20px;
    padding: 10px 20px;
  }

  .acara .img{
    width: 30%;
  }
  .acara .text{
    margin-left: 10px;
    width: 70%;
  }

  .acara ul li .jam{
    font-size: 20px;
  }
  .acara ul li p{
    font-size: 14px;
    padding: 0px 15px;
  }
  .acara ul li{
    margin-bottom: 20px;
  }
  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide {
    width: 90vw;
  }
  .swiper-slide img {
    width: 100%;
  }

  .sejarah .box p{
    font-size: 15px;
  }
  .loc{
    height: max-content;
  }
  .loc .wrapper{
    flex-direction: column-reverse;
    width: 90vw;
  }
  .loc .wrapper .box{
    width:90vw;
  }
  .loc .wrapper .box-img{
    width: 90vw;
    height: 800px;
    background-color: #000;
    border: 1px solid black;
  }
  .layout {
    /* width: 100%; */
    background-image: url(../../../assets/img/theme/theme6/bg-mobile.png);
  }
  .ct .ct-stop {
    width: 100%;
    font-size: 20px;
  }
  .ct{
    padding-bottom: 100px;
  }
  .ct .boxContainer{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 20px;
  }
  .ct .boxContainer .box {
    width: 100px;
    height: 100px;
  }
  .ct .boxContainer .box h3 {
    font-size: 
    40px;
  }
  .icon_ig ,.icon_web {
    width: 25px;
  height: 25px;
  }
  .tamu .info a{
    font-size: 15px;
  }
  .tamu .info{
    margin-top: 20px;
  }
}
